{% extends 'template.html.twig' %}

{% block title %}New Task{% endblock %}

{% block main %}
    <h1 class="row justify-content-md-center my-3 mx-0 indieFlower">Ajouter une tâche</h1>

    {{ include('task/_form.html.twig') }}

    <a class="btn btn-outline-primary" href="{{ path('project_show', {id: project.id}) }}">Retour</a>
{% endblock %}
